
	
Welcome <%= @current_user.name.upcase %>
Create a post: <span id="char"></span>

<form method="POST" action="/create-post">
	<textarea id="post" placeholder="your post" name="post"></textarea>
	<input type="submit" name="submit" value="post it!">
</form>

<ul>

<%= show_my_posts_and_followeds_posts %>
