
	
Welcome <%= @current_user.name %>
Create a post:

<form method="POST" action="/create-post">
	<textarea placeholder="your post" name="post"></textarea>
	<input type="submit" name="submit" value="post it!">
</form>

<ul>

<%= show_my_posts_and_followeds_posts %>
