
	
Welcome <%= @current_user.name %>
Create a post:

<form method="POST" action="/create-post">
	<textarea placeholder="your post" name="post"></textarea>
	<input type="submit" name="submit" value="post it!">
</form>

<ul>
<% @posts = User.find(current_user.id).posts.reverse_order
@result = ""
	@posts.each do |x|
	%><li><%= x.post %></li><%
 	end %>
</ul>
