<h1>Sign in. Provided you've signed up...</h1>
<form method="POST" action="/process-signin">
	<input type="text" name="name" placeholder="name">
	<input type="password" name = "password" placeholder="password">
	<input type="submit" name="submit" value="sign in">
</form>

